.grid {
  width: 80vh;
  height: auto;
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.img-main {
  grid-column-start: 1;
  grid-column-end: 4;
}
